*{
    font-family: sans-serif;
}
body{
    display: grid;
    grid-template-columns: 10% 90%;
}
#Fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    display: flex;
    flex-direction: column;
}
#Fila-input{
    display: flex;
}
.header_menu{
    display: flex;
    align-items: center;
}
.header_menu img{
    width: 100px;
    margin-left: -80px;
}
.header i{
    padding: 0px 5px;
    cursor: pointer;
}
.header_buscar{
    border-radius: 10px;
    height: 20px;
    margin: 0;
    padding: 0;
    display: flex;
}
.header_buscar input{
    display: flex;
    align-items: center;
    width: 400px;
    margin: 0;
    padding: 11px;
    border-radius: 25px;
}
.header_buscar button{
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
}
.header_buscar i{
    display: flex;
    gap: 15px;
    align-items: center;
}
.header_iconos{
    display: flex;
    gap: 20px;
}
#recomendaciones{
    display: flex;
    gap: 10px;
}
.boton-recomendacion{
    border-radius: 25px;
    background-color: #e5e5e5;
    border-color: transparent;
    padding: 5px;
}
.boton-recomendacion:hover{
    background-color: rgb(196, 194, 194);
}
.menuhamburguesa{
    display: flex;
    justify-content: center;
    margin-left: -150px;
    margin-top: 20px;
}

.menuizq{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: flex-start;
    height: calc(100vh - 70px)
}
.barra-lateral{
    height: 100%;
    width: 200px;
    background-color: white;
}
.barra-lateral-op{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}
.menu-izq{
    display: flex;
    align-items: center;
    padding:  15px 10px;
    margin-bottom: -30px;
    font-size: 12px;
    gap: 10px;
}
.menu-izq:hover{
    background-color: white;
}
hr{
    height: 1px;
    background-color: #e5e5e5;
    border: none;
}

#tiradevideos{
    display: flex;
    margin-top: 30px;
    gap: 10px;
    margin-left: 10px;
}
.video-container{
    display: flex;
    flex-direction: column;
}
.detalles{
    display: flex;
}

.autor{
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: 40px;
    width: 40px;
}
.titulo{
    display: flex;
    flex-direction: column;
}
.nombres1{
    color: black;
    font-size: 15px;
    overflow: hidden;
    width: 220px;
    height: 16px;
    margin-top: 8px;
}
.nombres{
    color: grey;
    font-size: 10px;
    margin-top: -15px;
    margin-bottom: 15px;
}
.miniatura{
    width: 280px;
    border-radius: 25px;

}